USE [SurveyDb]
GO
/****** Object:  Table [dbo].[SubmittedAnswer]    Script Date: 06/13/23 5:17:50 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubmittedAnswer]') AND type in (N'U'))
DROP TABLE [dbo].[SubmittedAnswer]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 06/13/23 5:17:50 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Item]') AND type in (N'U'))
DROP TABLE [dbo].[Item]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 06/13/23 5:17:50 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
DROP TABLE [dbo].[Category]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 06/13/23 5:17:50 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Branch]') AND type in (N'U'))
DROP TABLE [dbo].[Branch]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 06/13/23 5:17:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[BranchId] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [nvarchar](max) NOT NULL,
	[BranchNameAR] [nvarchar](max) NOT NULL,
	[BranchCode] [nvarchar](max) NOT NULL,
	[Status] [bit] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 06/13/23 5:17:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[CategoryNameAR] [nvarchar](50) NULL,
	[Status] [bit] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[BranchId] [int] NULL,
 CONSTRAINT [PK__Category__19093A0BCAFD7138] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 06/13/23 5:17:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](max) NOT NULL,
	[ItemNameAR] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK__Item__727E838B9DB8E3E5] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubmittedAnswer]    Script Date: 06/13/23 5:17:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubmittedAnswer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BranchId] [int] NULL,
	[CategoryId] [int] NULL,
	[ItemId] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[Name] [nvarchar](500) NULL,
	[IDorPhoneNumber] [nvarchar](500) NULL,
	[CreatedBy] [nvarchar](500) NULL,
	[CreatedOn] [datetime] NULL,
	[Status] [bit] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](500) NULL,
 CONSTRAINT [PK_SubmittedAnswer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([BranchId], [BranchName], [BranchNameAR], [BranchCode], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy]) VALUES (1, N'offwhite-1', N'الأبيض-1', N'2233', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Branch] ([BranchId], [BranchName], [BranchNameAR], [BranchCode], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy]) VALUES (2, N'offwhite-2', N'الأبيض-2', N'2568', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Branch] ([BranchId], [BranchName], [BranchNameAR], [BranchCode], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy]) VALUES (3, N'offwhite-3', N'الأبيض-3', N'2593', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Branch] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName], [CategoryNameAR], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [BranchId]) VALUES (114, N'Chef Dishes أطباق الشيف', N'Chef Dishes أطباق الشيف', NULL, NULL, NULL, NULL, NULL, 4)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [CategoryNameAR], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [BranchId]) VALUES (115, N'Cocktails الكوكتيلات', N'Cocktails الكوكتيلات', NULL, NULL, NULL, NULL, NULL, 4)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [CategoryNameAR], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [BranchId]) VALUES (116, N'Cold Appetizers مقبلات باردة', N'Cold Appetizers مقبلات باردة', NULL, NULL, NULL, NULL, NULL, 4)
GO
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([ItemId], [ItemName], [ItemNameAR], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [CategoryId]) VALUES (217, N'Hummus حمص', N'Hummus حمص', 1, CAST(N'2023-06-13T04:27:19.5833333' AS DateTime2), NULL, NULL, NULL, 116)
INSERT [dbo].[Item] ([ItemId], [ItemName], [ItemNameAR], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [CategoryId]) VALUES (218, N'Mutabbal متبل', N'Mutabbal متبل', 1, CAST(N'2023-06-13T04:27:19.5833333' AS DateTime2), NULL, NULL, NULL, 116)
INSERT [dbo].[Item] ([ItemId], [ItemName], [ItemNameAR], [Status], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [CategoryId]) VALUES (219, N'Itch ايتش', N'Itch ايتش', 1, CAST(N'2023-06-13T04:27:19.5833333' AS DateTime2), NULL, NULL, NULL, 116)
GO
SET IDENTITY_INSERT [dbo].[Item] OFF
GO
SET IDENTITY_INSERT [dbo].[SubmittedAnswer] ON 

INSERT [dbo].[SubmittedAnswer] ([Id], [BranchId], [CategoryId], [ItemId], [Comment], [Name], [IDorPhoneNumber], [CreatedBy], [CreatedOn], [Status], [UpdatedOn], [UpdatedBy]) VALUES (81, 9, 192, 815, N'qwdawdaw', N'd1231312', N'123123123', N'd1231312', CAST(N'2023-06-13T05:14:20.593' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[SubmittedAnswer] ([Id], [BranchId], [CategoryId], [ItemId], [Comment], [Name], [IDorPhoneNumber], [CreatedBy], [CreatedOn], [Status], [UpdatedOn], [UpdatedBy]) VALUES (82, 9, 192, 816, N'qwdawdaw', N'd1231312', N'123123123', N'd1231312', CAST(N'2023-06-13T05:14:20.593' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[SubmittedAnswer] ([Id], [BranchId], [CategoryId], [ItemId], [Comment], [Name], [IDorPhoneNumber], [CreatedBy], [CreatedOn], [Status], [UpdatedOn], [UpdatedBy]) VALUES (83, 9, 193, 785, N'qwdawdaw', N'd1231312', N'123123123', N'd1231312', CAST(N'2023-06-13T05:14:20.593' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SubmittedAnswer] OFF
GO
